discord
discord.py
discord.ui
jishaku
asyncio
discord-ext-menus
aiohttp
datetime
flask
typing
psutil
collection
requests
pathlib
pymongo
wavelink
httpx
discord.ext-context
tasksio
motor
Augmentor
numpy
aiosqlite
